.accordion {
  margin: 1rem auto;
  background-color: #e0e6ee;
  border-radius: 8px;
  max-width: 790px;
  padding: 30px;
}

.accordionTitle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(196, 196, 196, 0.2);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #00687f;
  margin-bottom: 15px;
  margin-top: 15px;
}

.accordionTitle:hover {
  background-color: #3ab4cc;
}

.accordionTitle,
.accordionContent {
  padding: 1rem;
}

.accordionContent {
  background-color: #fff;
  margin-top: -15px;
  box-shadow: 0px 2px 1px rgba(196, 196, 196, 0.2);
}
